@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: "Idroid";
  src: url(../fontes/IDroid.otf);
  src: url(../fontes/IDroid.otf) format(-opentype);
}

  /* Cores */
:root {
    --cor1: #84E1AD ;
    --cor2: #1A5C38 ;
    --cor3: #1a6e3e;
    --cor4: #39CE7C;
    --cor5: #1a5c37;
    --cor6: #EFF8F3;
    
    /* Fontes */
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-primaria: "Idroid", sans-serif;
    --fonte-secundaria: "Bebas Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor1);
  height: 100vh;
  font-family: var(--fonte-padrao);
}

/* Cabeçalho */

.cabecalho_tech {
  background-image: linear-gradient(var(--cor4), var(--cor5), var(--cor2) );
  color: var(--cor6);
  min-height: 180px;
  padding-top: 1.7em;
  text-align: center;
}


.cabecalho_tech > h1 {
  font-family: var(--fonte-secundaria);
  font-size: 35px;
  font-weight: 100;
  color: #EFF8F3;
}

.cabecalho_tech > p {
  font-size: 14px;
  padding-top: 1.5em;
}

/* Menu */

.menu-tech {
  text-align: left;
  transform: translateY(30px);
  padding-left: 7px;
}

.menu-tech > a {
  padding: 6px;
  color: var(--cor6);
  font-size: 14px;
  text-decoration: none;
}

.menu-tech > a:hover {
  background-color:var(--cor3);
  color: var(--cor1);
  border-radius: 5px;
  text-decoration: underline;
  transition: 200ms;
  cursor: pointer;
}

/* Config Conteudo Geral */


.conteudo_tech {
  background-color: var(--cor6);
  max-width: 1100px;
  margin:  auto;
  border-radius: 2px 3px;
  box-shadow: 1px 1px 7px black;
}

.textfield_tech {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.textfield_tech  p {
  color: black;
  font-size: 16px;
  padding: 12px 0 12px 10px;
  text-indent: 30px;
}

/* Parte 1 */

.primeiro_tech {
  padding: 1em 1.5em;
}


.primeiro_tech > h1{
  color: var(--cor5);
  font-family: var(--fonte-primaria);
  font-size: 27px;
}


.tech_destaque { 
  color: var(--cor3);
  font-weight: 700;
  text-decoration: none;
}

/* Parte 2 */

.segunda_tech {
  padding: 2em 1.5em;
}

.segunda_tech > h2 { 
  font-family: var(--fonte-primaria);
  font-size: 22px;
  color: var(--cor3);
  background-image: linear-gradient(to right, var(--cor1), var(--cor6));
}

/* Parte 3 */

.terceira_tech {
  padding: 2em 1.5em;
}

.terceira_tech > h2 {
  font-family: var(--fonte-primaria);
  font-size: 22px;
  color: var(--cor3);
  background-image: linear-gradient(to right, var(--cor1), var(--cor6));
}


/* Config Imagens */


.Imagens_tech {
   display: flex;
   justify-content: center;
   padding-top: 1em;
}

/* Config Video */

.Android_video{
 background-color: var(--cor2);
 padding: 20px;
 padding-bottom: 50%;
 position: relative; 
} 

.Android_video > iframe {
  position: absolute;
  top: 5%; 
  left: 5%; 
  width: 90%;
  height: 90%;
}

/* Parte 4  */

.sobre_mais_tech {
  background-color: var(--cor1);
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  margin: 0.5em 2em;
  padding: 1em;
}

.sobre_mais_tech > h3 {
  background-color: var(--cor3);
  color: var(--cor6);
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 1em;
  margin: -17px;
}

.sobre_mais_tech > p {
  padding-top: 2em; 
} 

.lista_tech {
  padding-top: 1em;
  list-style-type: '\🗸\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}


/* Footer /Rodapé */

.rodape {
  background-color: var(--cor2);
  color: var(--cor6);
  text-align: center;
  padding: 5px;
  margin-top: 12px;
}

.rodape a {
 text-decoration: none;
 color: var(--cor6);
}

/* Responsividade */

 @media (max-width: 320px) { /*Celulares Pequenos */


  .cabecalho_tech > p {
    margin: 12px;
    font-size: 14px;
    padding-top: 1em;
  }

  .menu-tech {
    display: flex;
    transform: translate(1px);
  }
  
  .menu-tech > a {
    padding: 4px;
    font-size: 14px;
  }
  
}


@media (min-width:300px) and (max-width: 800px) {

  .primeiro_tech > h1 {
    font-size: 18px;
  }

  .segunda_tech > h2{
    font-size: 20px;
  }

  .terceira_tech > h2 {
    font-size: 20px;
  }

  .lista_tech {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
  }
}